<div id='title'>
  <h1 style="text-align: center"> Markets</h1>
</div>

<section id="markets-table">
  <table style="border: 1px solid black; margin: 0 auto;">
    <tr style=>
      <th style="border: 1px solid black">
        Name
      </th>
      <th style="border: 1px solid black">
        City
      </th>
      <th style="border: 1px solid black">
        State
      </th>
      <th style="border: 1px solid black">
      </th>
    </tr>
    <% @markets.each do |market| %>
      <tr>
        <td style="border: 1px solid black;">
          <%= market[:attributes][:name] %>
        </td>
        <td style="border: 1px solid black;">
          <%= market[:attributes][:city] %>
        </td>
        <td style="border: 1px solid black;">
          <%= market[:attributes][:state] %>
        </td>
        <td>
          <%= button_to "More Info", market_path(market[:id]), method: :get %>
        </td>
      </tr>
      <% end %>
  </table>
</section>